@model IEnumerable<string>

<a class="btn btn-block btn-secondary" 
   asp-action="List" 
   asp-controller="Vehicle" 
   asp-route-make="">
    Home
</a>

@foreach (string make in Model)
{
    <a class="btn btn-block btn-secondary"
       asp-action="List"
       asp-controller="Vehicle"
       asp-route-make="@make"
       asp-route-vehiclePage="1">
        @make
    </a>
}
